*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Lexand',sans-serif;
}
html{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}

